.baner {
  width: 1440px;
  background-image: url('../../assets/images/center-yellow.svg'),
    url('../../assets/images/center-pink.svg'),
    url('../../assets/images/cloud.svg'), 
    url('../../assets/images/top-left.svg'), 
    url('../../assets/images/ellipse.svg'),
    url('../../assets/images/map.svg');
    
  background-position: 763.21px 515.93px, 761.67px 558.15px, left center, 29.09px 22.88px, 714px 21px, right top;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  padding-bottom: 200px;
}