@font-face {
    font-family: 'Apercu Arabic Pro';
    src: local('Apercu Arabic Pro Regular'), local('Apercu-Arabic-Pro-Regular'),
        url('ApercuArabicPro-Regular.woff2') format('woff2'),
        url('ApercuArabicPro-Regular.woff') format('woff'),
        url('ApercuArabicPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }